:root {
  --content-text-color: #757575;
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;

  --accent-color-text: #2196f3;

  --logo-accent-color: #2196f3;
  --address-text-color: #757575;
  --current-text-color: #2196f3;

  --primary-bg-color: #ffffff;
  --primary-bg-accent-color: 2196f3;
  --secondary-bg-color: #f5f4fa;

  --provisional-bg-color: #2f303a;

  --button-bg-color: #2196f3;
  --button-text-color: #ffffff;

  --footer-logo-color: #ffffff;
  --footer-content-color: rgba(255, 255, 255, 0.6);

  --masters-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

  --primary-margin: 30px;

  --type-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ========== HEADER ========== */
/* global-style.css */

/* ========== END HEADER ========== */

/* MAIN */

/* ========== HERO ==========*/
.hero {
  padding: 200px 0;

  text-align: center;

  color: var(--secondary-text-color);
  background-color: var(--provisional-bg-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background/hero.jpg);
}

.hero__title {
  margin-bottom: var(--primary-margin);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}
/* ========== END HERO ==========*/

/* ========== ADVANTAGES ========== */
.advantages__list {
  margin-right: calc(var(--primary-margin) * -1);
}

.advantages__list-item,
.masters__list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-right: var(--primary-margin);
}

.advantages__item-wrapper {
  margin-bottom: var(--primary-margin);
  width: 270px;
  height: 120px;

  background-color: #f5f4fa;
  border-radius: 4px;
}

.advantages__list-subtitle {
  margin-bottom: 10px;
  color: var(--primary-text-color);

  font-weight: 700;
  line-height: 1.1;

  text-transform: uppercase;
}

.advantages__list-des {
  color: var(--content-text-color);

  line-height: 1.7;
}

/* ========== END ADVANTAGES ========== */

/* ========== TEAM WORK ========== */
.section-title {
  margin-bottom: 50px;

  color: var(--primary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}

.works__list {
  margin-right: calc(var(--primary-margin) * -1);
  flex-basis: calc(100% / 3 - 30px);
}

.works__list-item {
  position: relative;
  margin-right: var(--primary-margin);
}

.works__list-des {
  position: absolute;
  width: 100%;
  height: 70px;
  right: 0;
  bottom: 0;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-text-color);

  background: rgba(47, 48, 58, 0.8);
}

/* ========== END TEAM WORK ========== */

/* ========== MASTERS ========== */
.masters {
  background-color: var(--secondary-bg-color);
}

.masters__list {
  margin-right: calc(var(--primary-margin) * -1);
}

.masters__list-item {
  padding-bottom: var(--primary-margin);
  text-align: center;

  background: var(--primary-bg-color);
  box-shadow: var(--masters-box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.masters__list-wrapper {
  margin-top: var(--primary-margin);
  padding-right: 32px;
  padding-left: 32px;
}

.masters__list-name {
  margin-bottom: 10px;
}

.masters__list-position {
  color: var(--content-text-color);
}

.masters__list-social {
  margin-top: 16px;
  justify-content: space-between;
}

.masters__social-link {
  width: 44px;
  height: 44px;

  border-radius: 50%;
  color: #afb1b8;

  transition: color 250ms var(--type-animation),
    background-color 250ms var(--type-animation);
}

.link-icon {
  fill: currentColor;
}

.masters__social-link:hover,
.masters__social-link:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color-text);
}

/* ========== END MASTERS ========== */

/* ========== CLIENTS ==========  */
.clients__list {
  margin-right: calc(var(--primary-margin) * -1);
}

.clients__list-item {
  margin-right: var(--primary-margin);
}

.clients__list-link {
  width: 170px;
  height: 90px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms var(--type-animation),
    color 250ms var(--type-animation);
}

.clients-icon {
  fill: currentColor;
}

.clients__list-link:hover,
.clients__list-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

/* ========== END CLIENTS ========== */

/* ========== END MAIN ==========*/

/* ========== MODAL WINDOW ========== */
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;

  transition: all 500ms var(--type-animation);
}

.is-active {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  padding: 40px 40px;

  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;

  text-align: center;
  color: #000000;

  transform: translate(-50%, -50%) scale(0);

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 500ms var(--type-animation) 500ms;
}

.backdrop.is-active .modal {
  transform: translate(-50%, -50%) scale(1);
}

.btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  border-radius: 50%;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: fill 250ms var(--type-animation);
  cursor: pointer;
}

.btn-close:hover {
  fill: #2196f3;
}

.modal-title {
  margin-bottom: 28px;
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal__form-field {
  display: flex;
  flex-direction: column;
  text-align: start;

  position: relative;
}

.modal__form-field {
  margin-bottom: 24px;
}

.modal__form-input,
.modal__form-textarea {
  min-height: 40px;

  padding: 12px 35px;

  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  resize: none;
}

.modal__form-textarea {
  margin-top: 4px;
  outline: #2196f3;
}
.modal__form-field textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-label,
.modal__form-input,
.modal__form-textarea-title {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: #757575;

  outline: #2196f3;
}
.modal__form-label {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);

  transition: all 350ms cubic-bezier(0.4, 0.2, 0, 1);
}

.modal__form-field .modal__form-icon {
  position: absolute;

  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.modal__form-field:hover,
.modal__form-field:focus {
  fill: #2196f3;
}

.modal__form-input:hover,
.modal__form-input:focus,
.modal__form-textarea:hover,
.modal__form-textarea:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal__form-field:focus-within .modal__form-label,
.modal__form-input:not(:placeholder-shown) + .modal__form-label {
  transform: translate(-35px, -40px);
}

.modal__form-solution {
  display: flex;
  justify-content: center;

  position: relative;
}

.modal__form-solution a {
  color: #2196f3;
  text-decoration: underline;
}

.modal .button {
  margin-top: 30px;
}

.user-checkbox {
  position: absolute;
  top: 3px;
  left: 5px;

  display: inline-block;
  width: 15px;
  height: 16px;

  border: 2px solid #212121;
  border-radius: 3px;
}

.checkbox:checked + .user-checkbox {
  background-image: url(../images/icon/check.svg);
  background-color: var(--button-bg-color);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

  border: transparent;
}

.modal__form-checkbox-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: #757575;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* ========== END MODAL WINDOW ========== */
